@media (max-width: 480px) {
  .row {
    width: auto;
    min-width: 100px;
  }
}

.card {
    background: #333;
    padding: 15px 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: 0.5s ease;
    width: fit-content;
}

.card.show {
    padding-bottom: 20px;
    
}


.row {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.menu-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 0;
  opacity: 0;          
  transition: 0.35s ease;
  padding-left: 5px;
}

.card.show .menu-content {
  max-height: 300px;
  opacity: 1;
}

.menu-content a {
  color: #cccccc;
  text-decoration: none;
  padding: 8px 0;
  transition: color 0.3s ease;
}

.menu-content a:hover {
  color: orange;
}


.title {
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.icon {
  stroke: white;
  stroke-width: 8;
  stroke-linecap: round;
  transition: 0.35s ease;
}

.icon.open .path1 {
    transform: translateY(20px) rotate(45deg);
    transform-origin: 50% 50%;
}

.icon.open .path2 {
    opacity: 0;
}

.icon.open .path3 {
    transform: translateY(-10px) rotate(-45deg);
    transform-origin: 50% 50%;
}

.hr-line {
    margin: 5px 0 0;
}